@import url(../css/layout/sidebar.css);
@import url(../css/layout/header.css);
@import url(../css/layout/page.css);

@import url(../css/base/table.css);
@import url(../css/base/button.css);
@import url(../css/base/combobox.css);
@import url(../css/base/input.css);
@import url(../css/base/popup.css);
@import url(../css/base/dialog.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: MISA Fonts;
  font-size: 13px;
}

@font-face {
  font-family: MISA Fonts;
  src: url("../Fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: MISA Fonts Bold;
  src: url("../Fonts/OpenSans-Bold.ttf");
}

/*Main*/
.main {
  float: left;
  width: calc(100% - 220px);
  height: 100vh;
}

.text-align--center {
  text-align: center;
}

.text-align--left {
  text-align: left;
}

.text-align--right {
  text-align: right;
}

/*Input*/
.required {
  color: #f00;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-row + .form-row {
  margin-top: 14px;
}

.flex {
  display: flex;
}

.form-group,
.flex-1 {
  flex: 1;
}

.w-100 {
  width: 100%;
}

.m-row + .m-row {
  margin-top: 14px;
}

.m-row {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.m-row > .m-col {
  padding: 0 6px;
}

.tab-wrapper {
  display: flex;
}
