@import url(../css/layout/sidebar.css);
@import url(../css/layout/header.css);
@import url(../css/layout/page.css);

@import url(../css/base/table.css);
@import url(../css/base/button.css);
@import url(../css/base/input.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: MISA Fonts;
  font-size: 13px;
}

@font-face {
  font-family: MISA Fonts;
  src: url("../Fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: MISA Fonts Bold;
  src: url("../Fonts/OpenSans-Bold.ttf");
}

/*Main*/
.main {
  float: left;
  width: calc(100% - 220px);
  height: 100vh;
}

.text-align--center {
  text-align: center;
}
