.table {
  height: calc(100% - 56px);
  overflow-y: auto;
}

#teacher {
  border-collapse: collapse;
  width: 100%;
}

#teacher td,
#teacher th {
  border: 1px solid #ddd;
  padding: 4px;
}

#teacher th {
  background-color: #f5f6fa;
  height: 64px;
  position: sticky;
  top: 0;
}

#teacher td {
  height: 40px;
}

#teacher td img {
  width: 28px;
  height: 28px;
}

#teacher td img:focus {
  background-color: #e9e9e9;
  border-radius: 50%;
}

#teacher td.c-aside {
  color: #03c373;
}

#teacher td.m-sidebar {
  color: #24344b;
  font-weight: 600;
  text-align: center;
}
